<!doctype html>
<html>
  <head>
    <title>Simple Chat Client</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Simple Chat Client</h1>

    <div id="chat">
      <ul id="user_list"></ul>
      <ul id="messages"></ul>
      <div id="chat-window">
        <input type="text" id="message" placeholder="Send a message" />
      </div>
    </div>

    <script src="/javascripts/chat-client.js"></script>
    <script>
      (function() {
        var handle;
        while (!handle || handle.trim() === '') {
          handle = prompt('Enter a handle');
        }

        // Init the chat client.
        var conn = new WebSocket('ws://localhost:3000', 'protocolOne');
        new ChatClient(conn, handle).start();
      }());
    </script>
  </body>
</html>
